.ranking .grid__item:before {
    background-color: #000;
    color: #fff;
    padding: 0 10px;
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block;
}

.ranking .grid__item:nth-child(1)::before {
    content: "No.1";
    background-color: gold;
}

.ranking .grid__item:nth-child(2)::before {
    content: "No.2";
    background-color: silver;
}

.ranking .grid__item:nth-child(3)::before {
    content: "No.3";
    background-color: #CD7F32;
}

.ranking .grid__item:nth-child(4)::before {
    content: "No.4";
}